.flex-container {
  background-color: rgb(190, 190, 231);
  display: flex
}

/* Flex Container 1 */
.flex-container-1  {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.flex-container > .flex-item 
{
  padding-bottom: 2.5em;
  min-width: 160px;
}

/* Flex Container 2 */
.flex-container-2 {
  flex-wrap: wrap;
  justify-content: right;
  flex-direction: row-reverse;
}
/* Flex Container 3 */
.flex-container-3 {
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  height: 600px;
  justify-content: space-between;


}


/* use height: 400px; on the container */

/* Flex Container 4 */
.flex-container-4 {
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}


/* Flex Container 6 */
.flex-container-6 {
  height: 500px;
  width: 400;
  flex-wrap: wrap;
  flex-direction: column;
}
.flex-container-6 .flex-item {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 30%;
  
}
/* Flex Container 5 */

.flex-container-5 {
  flex-flow: nowrap;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;

}

.flex-container-5 .flex-item {
  flex-basis: 0;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0px;
  min-height: 0px;
}
.flex-container-5 .item1, 
.flex-container-5 .item3,
.flex-container-5 .item6{
  flex-basis: 240px ;
  margin-top: 30px;
}
.flex-container-5 .item2, 
.flex-container-5 .item8{
  flex-basis: 300px ;
}

.flex-container-5 .item4, 
.flex-container-5 .item5,
.flex-container-5 .item7{
  flex-basis: 180px ;
  margin-top: 60px;
}

/* use height: 300px; on the container */
