/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li:not([class]) {
  color: var(--teal);
}

li[class*="d"] {
  color: var(--royalblue);
}

li[class$="og"] {
  color: var(--violet);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: green;
}

.list-food li:nth-child(2n + 2) {
  color: var(--violet);
}

.list-food li:nth-last-child(2) {
  color: var(--royalblue);
}

.list-cleaning > ol > * {
  color: green;
}
